/*body, html{
	overflow-x: hidden;
}
*/
.heading__{
	background: gray;
	height: 50em; 
	width: 100%; 
	position: relative;
}
.heading__ .row{
	margin: 0;
	width: 100%;
	height: 100%; 
	margin: 0
}
.heading__ .col-sm-6{
	height: 100%
}

/*.navbar.bg-dark,*/
#masthead{
    background: none !important;
}

#masthead {
	color: #fff !important;
	font-weight: 500;
}
body #content{
	padding-top:0 !important;
}
.container-fluid{
	padding: 0;
}

.right_cover{
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.left_cover{
	background: #181818;
	color: #fff;
}
#heading__border{
	border: 0.4rem solid #ffffff80;
	width: 40%;
    height: 70%;
    left: 50%;
	top: 50%;
	z-index: 2;
	position: absolute;
	transform: translate(-50%,-50%);
}
#heading__title{
    background: #181818;
    color: #fff;
    left: 9%;
    top: 50%;
    position: absolute;
    transform: translate(50%,-50%);
    width: -webkit-fill-available;
    z-index: 1;
}

#heading__title h1{
	font-size: 5em;
}

#heading__overlay{
	background: #0000008c;
	height:100%;
	width: 100%;
	left: 0;
	position: absolute;
	z-index: 1;
}

.page_title_{
	text-transform: uppercase;
}
#main{
    padding: 4em 9em;
    text-align: justify;
}
@media (max-width: 991px) {


	#heading__border{
		width: 50%;
	}

	#heading__title{
		left: 0;
	}

	#heading__title h1{
		font-size: 4em;
	}
	#main {
	    padding: 4em;
	}
}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
	.left_cover {
		display: none;
	}
	#heading__title {
		background:none;
	    font-size: 1.5em;
	    left: 50%;
	    text-align: center;
	    transform: translate(-50%,-50%);
	    width: 100%;
	}
	#heading__border {
	    width: 85%;
	    height: 80%;
	    border: 0.2rem solid #ffffff80;
	}
	#heading__title h1 {
	    font-size: 3em;
	}
	#main {
	    padding: 2em;
	}
}

@media (max-width: 450px) {
	#heading__title h1 {
	    font-size: 2em;
	}
	.heading__ {
		height: 40em;
	}
}